<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" name="myform">
        <table>
            <tr>
                <td><label>first name</label></td>
                <td><input name="first_name"></td>
            </tr>
            <tr>
                <td><label>last name</label></td>
                <td><input name="last_name"></td>
            </tr>
            <tr>
                <td><label>age</label></td>
                <td><input name="age"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" style="min-width:100%; color:red">Register</button>
                </td>

            </tr>
        </table>
    </form>

</body>
</html>